<div class='modal-header'>
  <h4 class='modal-title'>{{id_car ? 'Modificare' : 'Adăugare'}} informație</h4>
</div>

<div class='modal-body'>
  <div class='row'>
    <label class='col-2 control-label'>Brand*</label>
    <div class='col-9'>
      <input [(ngModel)]='modal.brand' class='form-control' placeholder='Brand...' maxlength='200'/>
    </div>
  </div>
  <div class='row'>
    <label class='col-2 control-label'>Model*</label>
    <div class='col-9'>
      <input [(ngModel)]='modal.model' class='form-control' placeholder='Model...' maxlength='200'/>
    </div>
  </div>
  <div class='row'>
    <label class='col-2 control-label'>Year*</label>
    <div class='col-9'>
      <input type='number' [(ngModel)]='modal.year' class='form-control' placeholder='Year...' maxlength='4'/>
    </div>
  </div>
  <div class='row'>
    <label class='col-2 control-label'>Capacity*</label>
    <div class='col-9'>
      <input type='number' [(ngModel)]='modal.capacity' class='form-control' placeholder='Capacity...' maxlength='4'/>
    </div>
  </div>
  <div class='row'>
    <label class='col-2 control-label'>Tax*</label>
    <div class='col-9'>
      <input type='number' [(ngModel)]='modal.tax' class='form-control' placeholder='Tax...' maxlength='4'/>
    </div>
  </div>
</div>

<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
  <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
</div>